<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    
    
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"  href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="services">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contact</a>
      </li>
    </ul>


      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Type query"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success"
          type="button"
          data-mdb-ripple-color="dark"
        >
          Search
        </button>
      </form>
    
  </div>
</nav>



 